.pytest_cache
__pycache__
tmp
.venv
.uv/
**/*.egg-info
**/output.mp3
kompose
get_helm.sh
.env
.ruff_cache
data/minio
eval.txt
.DS_Store

# Ignore generated or temporary files managed by the Workbench
.project/*
!.project/spec.yaml
!.project/configpacks

# General ignores

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temp directories, notebooks created by jupyterlab
.ipynb_checkpoints
.Trash-*/
.jupyter/
.local/

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Workbench Project Layout
frontend/demo_outputs/*.mp3
frontend/demo_outputs/*.json
workbench/nim_cache/huggingface/
workbench/nim_cache/local_cache/
workbench/nim_cache/ngc/
